<div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text"><b>{{foodItem.name}}</b> <br>
           <label><u>Zutaten:</u></label> <i> {{foodItem.ingredients}}</i>
           <br>
           <label><u>Rezept:</u></label> <i> {{foodItem.foodRecipe}}</i>
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                 <button class="btn btn-lg btn-outline-primary" (click)="open(modalEditDialog)">Bearbeiten</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal edit dialog -->
  <ng-template  #modalEditDialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bearbeiten</h4>
      <button type="button" class="btn-close"  (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
           <label for="id_email" class="form-label">Bezeichnung</label>
           <input type="text" [(ngModel)]="foodItem.name" name="name">
         </div>
         <div class="mb-3">
            <label>Zutaten:</label>
            <input type="text" [(ngModel)]="foodItem.ingredients" name="foodRecipe">
        </div>
         <div class="mb-3">
             <label>Rezept:</label>
             <input type="text" [(ngModel)]="foodItem.foodRecipe" name="foodRecipe">
         </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Speichern</button>
    </div>
  </ng-template>

